@model IEnumerable<Finance.Models.Despesa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoDespesas.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Despesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Despesa_Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDespesas.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Despesa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Despesa_Valor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Despesa_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Despesa_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Despesa_Id })
        </td>
    </tr>
}

</table>
